/*
body{
	background-color:#d0e4fe;
	font-size:21px;
	color:black;
    font-family:arial;	
	width:500px;
	height:500px;
	/*margin:0 auto;*/
	border-bottom:1px solid bule;
	border:1px solid red ;
}*/

.div1{
	color:#FF00FF;
	width:80px;
	height:80px;
	border-bottom:1px solid bule;
	margin:5px 0px 0px 5px;
}
.faceul{
	width:405px;
	height:405px;
	border-bottom:1px solid bule;
	
}
.faceul  li{
	list-style-type:none;
	
	float:left;
	width:45px;
	height:45px;
	/*margin:5px 0px 0px 5px;*/
	border-bottom:1px solid bule;
	margin-top:5px;
	margin-left:5px;
}

.faceul  img{
	width:45px;
	height:45px;
	/*margin:5px 0px 0px 5px;*/
	margin-top:5px;
	margin-left:5px;
}